body {
	background-color: #C2E0EB;
}
h1 {
	text-align: center;
	color: white;
	text-shadow: black 1px 2px 2px;
}
h2 {
	text-align: center;
	color: grey;
	text-shadow: black 1px 1px 1px;
}
p {
	color: white;
	text-shadow: black 1px 2px 3px;
	font-size: 18px;
}
ul {
	color: white;
	text-shadow: black 1px 2px 3px;
	font-size: 18px;
}
.profile {
	width:540px; /* you can use % */
	    height: auto;
}
.intro {
	text-align: center;
}
.contact {
	display: inline-block;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}